/* 背景和按钮样式 */
.root {
    -fx-font-family: "Arial", sans-serif;
    -fx-font-size: 18px;
}

/* 左侧侧边栏 */
.left-pane {
    -fx-background-color: #F0FEFC;
    -fx-border-radius: 10;
}

/* 按钮通用样式 */
.button {
    -fx-background-color: #F0FEFC;
    -fx-text-fill: #363636;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}

/* 按钮悬停状态 */
.button:hover {
    -fx-background-color: #D2F0E6; /* 薄荷绿 */
}

/* 按钮点击状态 */
.button:pressed {
    -fx-background-color: #6FAF9E; /* 绿色 */
}

/* 顶部标题 */
.title {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #B69CC3; /* 薰衣草色 */
    -fx-margin-bottom: 20px;
}


/* 按钮“删除文件”的样式 */
.button-delete {
    -fx-background-color: #FFCCCB; /* 淡红色 */
    -fx-text-fill: #A40505; /* 红色文字 */
}

.button-delete:hover {
    -fx-background-color: #FFB2A1; /* 悬停时的稍微深一点的红色 */
}

/* 设置按钮点击状态时的颜色 */
.button-delete:pressed {
    -fx-background-color: #FF6A5C; /* 点击时的红色 */
}
